@tailwind base;
@tailwind components;
@tailwind utilities;

.banner-container {
    background-image: url('https://i.postimg.cc/SssH8Tgz/scan-laser.gif');
    background-size: cover; /* Ajustar el tamaño del fondo para cubrir el contenedor */
    background-repeat: no-repeat; /* Evitar que el fondo se repita */
    background-attachment: fixed; /* Fijar el fondo para que no se desplace con el contenido */
    background-position: center; /* Centrar el fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.banner {
    background-color:#121212; /* Fondo semitransparente para hacer el texto más legible */
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.banner p {
    margin: 0;
}
